<meta property="og:site_name" content="Youtube">
<meta name="twitter:card" content="player">
<meta name="twitter:title" content="{{ renderDict['title'] }}">
<meta name="twitter:author" content="{{ renderDict['author'] }}">
<meta name="twitter:image" content="https://i.ytimg.com/vi/{{ renderDict['id'] }}/hqdefault.jpg">
<meta name="twitter:player" content="https://www.youtube.com/embed/dQw4w9WgXcQ">
<meta name="twitter:player:width" content="1280">
<meta name="twitter:player:height" content="720">
<meta name="theme-color" content="#ff1303">
<div id="watch7-content" class="watch-main-col" itemscope itemid="" itemtype="http://schema.org/VideoObject">
<link itemprop="url" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
<meta itemprop="name" content="Watch on youtube">
